
<div id="carouselExampleControls" class="carousel slide fotos" data-ride="carousel">

    <div id="slider" class="carousel-inner">
      
    </div>

    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>

</div>
