<li>
  <div class="comment-main-level">
    <!-- Avatar -->
    <div class="comment-avatar"><img src="/images/perfil.jpg" alt=""></div>
    <!-- Contenedor del Comentario -->
    <div class="comment-box">
      <div class="comment-head">
        <h6 class="comment-name"><a href="">{{user}}</a></h6>
      </div>
      <div class="comment-content">
        {{comment}}
      </div>
    </div>
  </div>
</li>
