{% extends 'layout.twig' %}

{%block links%}
  <link href="stylesheets/estilosNavBar.css" rel="stylesheet">
  {%block estilo%}{%endblock%}

  <script type="text/javascript" src="https://girabahiense.herokuapp.com/javascripts/logicaInformacion.js"></script>
  <script type="text/javascript" src="https://girabahiense.herokuapp.com/javascripts/logicaMapa.js"></script>
  <script type="text/javascript" src="https://girabahiense.herokuapp.com/javascripts/logicaComentarios.js"></script>

  <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfErfn3Hop9TIhHgcFawgNeQhrli9-0Ac&callback=myMap"></script>
{%endblock%}


{% block body %}
  <div id="PanelMapa" class="PanelMapa rounded">
    <h2>Mapa de Bahía Blanca</h2>
    <div id="googleMap" class="mapa"></div>

    <script defer>cargarMarcador()</script>
  </div>

  <div id="iconosMapa" class="iconos">
    <div class="row">
      <div class="col-md">
        <h4><img src="images/Cerveceria.png">: Cerveceria
        </h4>
      </div>
      <div class="col-md">
        <h4><img src="images/Boliche.png">: Boliche</h4>
      </div>
      <div class="col-md">
        <h4><img src="images/Carrito.png">: Carrito</h4>
      </div>
    </div>
  </div>


  <!-- Panel con informacion del local seleccionado -->
  <div id="infoLocal" class="Info rounded" style="display:none;">
    <h1 id="NombreLocal">Nombre</h1>
    <h2 id="Tipo">Tipo</h2>
    <h3 id="Direccion">Direccion</h3>
    <h3 id="Telefono">Telefono</h3>
    <div class="btn-group">
      <button id="dropdown" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Elegir dia...
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#" onclick="mostrarHorario(this.innerHTML);return false;">Domingo</a>
        <a class="dropdown-item" href="#" onclick="mostrarHorario(this.innerHTML);return false;">Lunes</a>
        <a class="dropdown-item" href="#" onclick="mostrarHorario(this.innerHTML);return false;">Martes</a>
        <a class="dropdown-item" href="#" onclick="mostrarHorario(this.innerHTML);return false;">Miercoles</a>
        <a class="dropdown-item" href="#" onclick="mostrarHorario(this.innerHTML);return false;">Jueves</a>
        <a class="dropdown-item" href="#" onclick="mostrarHorario(this.innerHTML);return false;">Viernes</a>
        <a class="dropdown-item" href="#" onclick="mostrarHorario(this.innerHTML);return false;">Sabado</a>
      </div>
    </div>
    <h4 id="HoraOpen" class="font-weight-light">Hora de apertura:</h4>
    <h4 id="HoraClose" class="font-weight-light">Hora de cierre:</h4>
    <a id="facebook" target="_blank" class="link"><img src="images/facebook.png">Pagina de Facebook</a>

    <div class="comentarios">
      <button type="button" class="btn btn-info boton" data-toggle="modal" data-target="#exampleModalLong" onclick="cargarComentarios()">Ver comentarios</button>
      <button id="botonPuntuar" type="button" class="btn btn-info boton" data-toggle="modal" data-target="#modalPuntaje" onclick="cargarImagenes()">Puntuar</button>
    </div>
  </div>


  {%include "shared/modalComentarios.twig"%}

  {%include "shared/modalPuntaje.twig"%}


{% endblock %}
